<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
<link rel="icon" type="image/x-icon" href="/static/back.jpg">      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<style>

</style>
<body style="background-image: url(static/back.jpg);background-size: cover;">
<p><h1 align="center" style="color: white;padding-top: 30px;text-shadow: 3px 3px #100000;">Upload X-Ray Image</h1></p>
<div class="container" align="center">
<div align="center" class="row">
    {% if not filename %}
        <h2 style="color: white;padding-top: 5px;text-shadow: 2px 2px #100000;border: 1px black;">Select a file to upload</h2>
    {% endif %}
    <p align="center" style="color: white;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li style="color: white;border: 1px black;">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
   
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" height="400px">
        </div>
    {% endif %}
    
    <form method="post" action="/predict" enctype="multipart/form-data">
        {% if not filename %}
        <dl>
            <p>
                <input type="file" style="background-color: aliceblue;" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        
        <p>
            <input type="submit" value="Submit" class="btn btn-info" >
        </p>
        {% endif %}
        {% if filename %}
        
        <br/>
        <p>
            <input type="reset" value="Change" class="btn btn-info" onclick="history.back()">
            <h4 style="color:white; font-size:20px">Prediction: </h4>
            {% if pred == "PNEUMONIA" %}
                <h4 style="color:red; font-size:20px">{{pred}}</h4>
            {% else %}
                <h4 style="color:green; font-size:20px">{{pred}}</h4>
            {% endif %}
            <h4 style="color:white; font-size:20px">Confidence: {{conf}}%</h4>
            {% if conf <= 75 %}
                <h4 style="color:red">Confidence is low.</h4>
            {% endif %}
        </p>
        {% endif %}
    </form>
    
</div>
</div>
</body>
</html>